{% extends 'base.html.twig' %}

{% block title %}Hello BuilderController!{% endblock %}

{% block body %}


<div class="container-fluid">


    <div class="row p-5 py-3">
        <div class="col-sm">
            <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-around p-2">
                    <div class="container battle-stats vstack gap-3">
                        <div class="bg-light border">Class</div>
                        <div class="bg-light border">Energy</div>
                        <div class="bg-light border">Attack</div>
                        <div class="bg-light border">Shield</div>
                    </div>
                    <div class="axie-display">
                        <img src="{{ asset("build/images/axie.png") }}" class="img-fluid" alt="...">
                    </div>
                    <div class="container tags vstack gap-3">
                        <div class="bg-light border">tags</div>
                        <div class="bg-light border">Banish</div>
                        <div class="bg-light border">Attack</div>
                        <div class="bg-light border">Special</div>
                    </div>
                </div>
                <div class="card-card">
                    <div class="card-card-1-to-3 d-flex">

                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                         <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/riskybeast.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Risky Beast</figcaption>
                        </figure>

                    </div>
                     <div class="card-card-4-to-6 d-flex">
                        
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/axiekiss.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Axie Kiss</figcaption>
                        </figure>

                         <figure class="figure">
                            <img src="{{ asset("build/images/cards/imp.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Imp</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/nutcrackertail.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Nut Cracker</figcaption>
                        </figure>
                        
                    </div>
                </div>
                
            </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-around p-2">
                    <div class="container battle-stats vstack gap-3">
                        <div class="bg-light border">Class</div>
                        <div class="bg-light border">Energy</div>
                        <div class="bg-light border">Attack</div>
                        <div class="bg-light border">Shield</div>
                    </div>
                    <div class="axie-display">
                        <img src="{{ asset("build/images/axie.png") }}" class="img-fluid" alt="...">
                    </div>
                    <div class="container tags vstack gap-3">
                        <div class="bg-light border">tags</div>
                        <div class="bg-light border">Banish</div>
                        <div class="bg-light border">Attack</div>
                        <div class="bg-light border">Special</div>
                    </div>
                </div>
                <div class="card-card">
                    <div class="card-card-1-to-3 d-flex">

                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                         <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                    </div>
                     <div class="card-card-4-to-6 d-flex">
                        
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                         <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        
                    </div>
                </div>
                
            </div>
            </div>
        </div><div class="col-sm">
            <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-around p-2">
                    <div class="container battle-stats vstack gap-3">
                        <div class="bg-light border">Class</div>
                        <div class="bg-light border">Energy</div>
                        <div class="bg-light border">Attack</div>
                        <div class="bg-light border">Shield</div>
                    </div>
                    <div class="axie-display">
                        <img src="{{ asset("build/images/axie.png") }}" class="img-fluid" alt="...">
                    </div>
                    <div class="container tags vstack gap-3">
                        <div class="bg-light border">tags</div>
                        <div class="bg-light border">Banish</div>
                        <div class="bg-light border">Attack</div>
                        <div class="bg-light border">Special</div>
                    </div>
                </div>
                <div class="card-card">
                    <div class="card-card-1-to-3 d-flex">

                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                         <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                    </div>
                     <div class="card-card-4-to-6 d-flex">
                        
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>

                         <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        <figure class="figure">
                            <img src="{{ asset("build/images/cards/gerbil.png") }}" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-center">Card Name</figcaption>
                        </figure>
                        
                    </div>
                </div>
                
            </div>
            </div>
        </div>
    </div>
{# {{ include('class-logo-svg/beast.html.twig') }} #}

</div>
{% endblock %}
